*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
}

.seat{
    height: 5rem;
    width: 5rem;
    background-color: blueviolet;
}

.row{
    margin-top: 6rem;
    display: grid;
    grid-template: 1fr 1fr/ repeat(4, 1fr); 
    gap: 10px;
}

button{
    margin-top: 2rem;
    padding: 1rem 2rem;
}

ul{
    margin-top: 2rem;
}

.selected {
    background-color: yellow;
}

.occupied{
    background-color: gray;
}

h2{
    margin-top: 2rem;
}